<a href="https://colab.research.google.com/github/sergope/tfm/blob/main/aemet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
import json
import numpy as np
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJzZXJnb3BsbUBnbWFpbC5jb20iLCJqdGkiOiI5ZGYwMjg2ZC1hNTAzLTQzNmQtYTJmMS01MTUxYTYzYTcyYTYiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYwMjA5Mzk1NSwidXNlcklkIjoiOWRmMDI4NmQtYTUwMy00MzZkLWEyZjEtNTE1MWE2M2E3MmE2Iiwicm9sZSI6IiJ9.t571mGpUL7po-zPVyrcCC3ewdWFgnkSLkc3aPySu61Y"

In [ ]:
# SOLO PARA USO EN GOOGLE COLABORATORY
# para conectar el notebook con la cuenta de gdrive
from google.colab import drive
drive.mount('/content/drive/', force_remount=False)

BASE_FOLDER = 'drive/My Drive/TFM/resources/'

Mounted at /content/drive/

In [ ]:
def default_get_aemet(url, api_key):
  querystring = {"api_key": api_key}
  headers = {
      'cache-control': "no-cache"
      }

  response = requests.request("GET", url, headers=headers, params=querystring)
  return response.text

def get_aemet_url_by_year(year_ini, year_end, station):
  url = "https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/"
  url += str(year_ini) + "-01-01"
  url += "T00:00:00UTC/fechafin/"
  url += str(year_end) + "-01-01"
  url += "T00:00:00UTC/estacion/"
  url += str(station)
  return url

def get_aemet_daily_data_by_year(year_ini, year_end, station, api_key):
  all_years = []
  for year in np.arange(year_ini, year_end):
    url = get_aemet_url_by_year(year, year+1, station)
    try:
      response = default_get_aemet(url, api_key)
      response_normalized = json.loads(response)
      df = pd.read_json(response_normalized['datos'])
      df.columns = df.columns.str.upper()
      all_years.append(df)
    except:
      print('error: ' + json.loads(response))
      pass

  all_years_concat = pd.concat(all_years)
  all_years_concat.to_csv(BASE_FOLDER + 'processed_data/aemet_getafe' + '.csv', sep = ';', na_rep = 'null')

In [ ]:

def filter_aemet_data_by_date(table, date_ini, date_end, columns):
  # table = pd.read_table(BASE_FOLDER+'processed_data/' + file_name + '.csv', sep=';', engine='python')
  columns_with_date = columns.copy()
  columns_with_date.append('ds')
  table = table.filter(columns_with_date)
  dates = pd.date_range(start = date_ini, end = date_end, freq='D').strftime('%Y-%m-%d')
  table = table[table['ds'].isin(list(dates))]
  return table
  

# file_name= 'aemet_getafe'
# date_ini = '2017-02-01'
# date_end = '2017-02-15'
# columns = ['TMED', 'PREC']
# rep = filter_aemet_data_by_date(file_name, date_ini, date_end, columns)
# rep

In [ ]:
# url = get_aemet_url_by_year(2005, 2006, 3200)
# response = default_get_aemet(url, api_key)
# print(response)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/ad853d20",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/b3aa9d28"
}

In [ ]:
# api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJzZXJnb3BsbUBnbWFpbC5jb20iLCJqdGkiOiI5ZGYwMjg2ZC1hNTAzLTQzNmQtYTJmMS01MTUxYTYzYTcyYTYiLCJpc3MiOiJBRU1FVCIsImlhdCI6MTYwMjA5Mzk1NSwidXNlcklkIjoiOWRmMDI4NmQtYTUwMy00MzZkLWEyZjEtNTE1MWE2M2E3MmE2Iiwicm9sZSI6IiJ9.t571mGpUL7po-zPVyrcCC3ewdWFgnkSLkc3aPySu61Y"
# year_ini = 2005
# year_end = 2021
# station = "3200"

# df = get_aemet_daily_data_by_year(year_ini, year_end, station, api_key)
# df

In [ ]:
# table = pd.read_table(BASE_FOLDER+'processed_data/aemet_getafe' + '.csv', sep=';', engine='python')
# table

      Unnamed: 0       FECHA  INDICATIVO  ... HORAPRESMAX PRESMIN  HORAPRESMIN
0              0  2005-01-01        3200  ...          24   957,3           16
1              1  2005-01-02        3200  ...          24   959,7           02
2              2  2005-01-03        3200  ...          11   961,0           18
3              3  2005-01-04        3200  ...          11   962,1           16
4              4  2005-01-05        3200  ...          11   962,2           15
...          ...         ...         ...  ...         ...     ...          ...
5776         283  2020-10-10        3200  ...          24   949,2           16
5777         284  2020-10-11        3200  ...          23   951,4           15
5778         285  2020-10-12        3200  ...          01   949,4           24
5779         286  2020-10-13        3200  ...          00   940,9           24
5780         287  2020-10-14        3200  ...          24   940,3           03

[5781 rows x 21 columns]

Metadata: get_aemet_url_by_year



```
{
  "unidad_generadora": "Servicio del Banco de Datos Nacional de Climatología",
  "periodicidad": "1 vez al día, con un retardo de 4 días",
  "descripcion": "Climatologías diarías",
  "formato": "application/json",
  "copyright": "© AEMET. Autorizado el uso de la información y su reproducción citando a AEMET como autora de la misma.",
  "notaLegal": "http://www.aemet.es/es/nota_legal",
  "campos": [
    {
      "id": "fecha",
      "descripcion": "fecha del dia (AAAA-MM-DD)",
      "tipo_datos": "string",
      "requerido": true
    },
    {
      "id": "indicativo",
      "descripcion": "indicativo climatológico",
      "tipo_datos": "string",
      "requerido": true
    },
    {
      "id": "nombre",
      "descripcion": "nombre (ubicación) de la estación",
      "tipo_datos": "string",
      "requerido": true
    },
    {
      "id": "provincia",
      "descripcion": "provincia de la estación",
      "tipo_datos": "string",
      "requerido": true
    },
    {
      "id": "altitud",
      "descripcion": "altitud de la estación en m sobre el nivel del mar",
      "tipo_datos": "float",
      "unidad": "m",
      "requerido": true
    },
    {
      "id": "tmed",
      "descripcion": "Temperatura media diaria",
      "tipo_datos": "float",
      "unidad": "grados celsius",
      "requerido": false
    },
    {
      "id": "prec",
      "descripcion": "Precipitación diaria de 07 a 07",
      "tipo_datos": "float",
      "unidad": "mm (Ip = inferior a 0,1 mm)",
      "requerido": false
    },
    {
      "id": "tmin",
      "descripcion": "Temperatura Mínima del día",
      "tipo_datos": "float",
      "unidad": "ºC",
      "requerido": false
    },
    {
      "id": "horatmin",
      "descripcion": "Hora y minuto de la temperatura mínima",
      "tipo_datos": "string",
      "unidad": "UTC",
      "requerido": false
    },
    {
      "id": "tmax",
      "descripcion": "Temperatura Máxima del día",
      "tipo_datos": "float",
      "unidad": "ºC",
      "requerido": false
    },
    {
      "id": "horatmax",
      "descripcion": "Hora y minuto de la temperatura máxima",
      "tipo_datos": "string",
      "unidad": "UTC",
      "requerido": false
    },
    {
      "id": "dir",
      "descripcion": "Dirección de la racha máxima",
      "tipo_datos": "float",
      "unidad": "decenas de grado",
      "requerido": false
    },
    {
      "id": "velmedia",
      "descripcion": "Velocidad media del viento",
      "tipo_datos": "float",
      "unidad": "m/s",
      "requerido": false
    },
    {
      "id": "racha",
      "descripcion": "Racha máxima del viento",
      "tipo_datos": "float",
      "unidad": "m/s",
      "requerido": false
    },
    {
      "id": "horaracha",
      "descripcion": "Hora y minuto de la racha máxima",
      "tipo_datos": "string",
      "unidad": "UTC",
      "requerido": false
    },
    {
      "id": "sol",
      "descripcion": "Insolación",
      "tipo_datos": "float",
      "unidad": "horas",
      "requerido": false
    },
    {
      "id": "presmax",
      "descripcion": "Presión máxima al nivel de referencia de la estación",
      "tipo_datos": "float",
      "unidad": "hPa",
      "requerido": false
    },
    {
      "id": "horapresmax",
      "descripcion": "Hora de la presión máxima (redondeada a la hora entera más próxima)",
      "tipo_datos": "string",
      "unidad": "UTC",
      "requerido": false
    },
    {
      "id": "presmin",
      "descripcion": "Presión mínima al nivel de referencia de la estación",
      "tipo_datos": "float",
      "unidad": "hPa",
      "requerido": false
    },
    {
      "id": "horapresmin",
      "descripcion": "Hora de la presión mínima (redondeada a la hora entera más próxima)",
      "tipo_datos": "string",
      "unidad": "UTC",
      "requerido": false
    }
  ]
}
```

In [ ]:
# url = "https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/diaria/28065"
# response = default_get_aemet(url, api_key)
# print(response)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/8ef5aa55",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/dfd88b22"
}

In [ ]:
# url = "https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/horaria/28065"
# response = default_get_aemet(url, api_key)
# print(response)

{
  "descripcion" : "exito",
  "estado" : 200,
  "datos" : "https://opendata.aemet.es/opendata/sh/123e343c",
  "metadatos" : "https://opendata.aemet.es/opendata/sh/93a7c63d"
}